aiohttp==3.7.4.post0
arsenic==20.9
async-timeout==3.0.1
attrs==20.3.0
beautifulsoup4==4.9.3
blis==0.7.4
bs4==0.0.1
catalogue==2.0.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cycler==0.10.0
cymem==2.0.5
Cython==0.29.14
dominate==2.6.0
et-xmlfile==1.0.1
Flask==1.1.2
Flask-Bootstrap==3.3.7.1
Flask-Cors==3.0.10
gunicorn==20.0.4
idna==3.1
itsdangerous==1.1.0
Jinja2==2.11.3
lxml==4.6.3
MarkupSafe==1.1.1
multidict==5.1.0
nest-asyncio==1.5.1
numpy==1.20.2
openpyxl==3.0.7
pandas==1.2.3
python-dateutil==2.8.1
pytz==2021.1
six==1.15.0
soupsieve==2.2.1
structlog==20.2.0
typing-extensions==3.7.4.3
visitor==0.1.3
Werkzeug==1.0.1
xlrd==2.0.1
yarl==1.6.3
